NODE_ENV=development
PORT=4000
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=8h
DB_CLIENT=sqlite
SQLITE_PATH=./data/ufw-control-panel.db
CORS_ORIGIN=http://localhost:4200
ADMIN_EMAIL=admin@local
ADMIN_PASSWORD=Admin123!

UFW_CONTAINER_NAME=
